
@{
    ViewBag.Title = "caloriesCal";
}

<h2>Hello, @ViewData["customerName"]. @ViewData["message"]</h2>
<p>Your burger choice is: @ViewData["burger"]</p>
<p>Your drink choice is: @ViewData["drink"]</p>
<p>Your side choice is: @ViewData["side"]</p>
<p>Your dessert choice is: @ViewData["dessert"]</p>
